<form class="searxh-form">
    <div class="form-group">
        <input [(ngModel)]="username" name="username" type="text" class="form-control" (keyup)="findProfile()" placeholder="Search username..." required/>
    </div>
</form>
 <div class="panel-body" *ngFor="let user of profiles?.items">
    <p>
        {{user.login}}
    </p>
</div> 

<!-- <div *ngIf="profile">
    <div class="panel panel-default">
        <div class="panel-heading">
             {{profile.name}} <small>({{profile.login}})</small><br>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <img src="{{profile. avatar_url}}" class="img-circle img-responsive">
                </div>
                <div class="col-sm-6">
                    <span class="label label-info">Public Repositories -> {{profile.public_repos}}</span>
                    <span class="label label-primary">Following- {{profile.following}}</span>
                    <span class="label label-success">Followers- {{profile.followers}}</span> <br> 
                    <h3>At- {{profile.created_at}}</h3>
                    <h3>Admin - {{profile.site_admin}}</h3>
                </div> 
            </div>
        </div>
    </div>
</div> -->